*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

header, main, footer{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

/* intestazione sito */

header>nav{
  height: 100px;
  background-color:#E579E6 ;
}

header>section{
  height: 300px;
  background-color:#E1D67A ;
  margin-top: 20px;
}

/* corpo del sito */
main{
  background-color:#0086FF ;
}

main>aside,
main>.central{
  float: left;
  margin: 2% 0;
}

main>section{
  height: 50px;
  background-color: #ABCFE7;
}

main>aside{
  height: 300px;
  background-color: #ABCFE7;
  width: 23%;
}

main>.central{
  height: 300px;
  background-color: #ABCFE7;
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
}


